#title-second-line{
    text-align: center;
}
.elements-center{
    text-align: center;
    }
.center{
    display:grid;
        place-items: center;
        min-height:100vh;
}
input{
    font-size: 12pt;
    padding: 0.75rem;
    text-align: center;
    background-color: white;
    color:black;
}
.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}